@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>
<br />
<br />

<div>
    <partial name="RolePartialViews/DeleteDetailsEmployeePartialView" model="Model" />


    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>
